@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  gap: 10px;
}
.mg-top-40 {
  margin-top: 40px;
}
.mg-bottom-40 {
  margin-bottom: 40px;
}
.pd-top-40 {
  padding-top: 40px;
}
.mt-20 {
  margin-top: 20px;
}
.pd-20 {
  padding: 20px;
}
.btn-blue {
  color: #fff;
  background: #6236ff;
}
.btn-red {
  background: #f9376c;
  color: #fff;
}
.btn-large {
  border: 0;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  padding: 0 25px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}
.btn-large i {
  padding-left: 10px;
  font-size: 15px;
}
.Ttitle {
  padding: 20px 0;
  margin-top: 10px;
  color: #0114a7;
}
.popup {
  width: 100vw;
}
.top {
  padding: 20px;
  display: flex;
  gap: 20px;
}
